<h1 class="text-center">Welcome to Paddy's Pub and Brewery!</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
          <div class="col-md-4">
            <p>Here you'll find the hoppiest IPAs, the maltiest stouts, and the tastiest lagers in all the land.</p>
          </div>
          <div class="col-md-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos similique rem vitae tempora animi deleniti distinctio obcaecati earum voluptatibus possimus corporis aliquam nesciunt, fuga nam, sed ea culpa dolore?</div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        <div id="home-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#home-carousel" data-slide-to="1"></li>
            <li data-target="#home-carousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">
            <div class="item active">
              <img class="caro-img" src="/static/images/taps.jpeg" alt="Wall of beers">
              <div class="carousel-caption">
                <h3>Over 20 beers on tap</h3>
              </div>
            </div>
            <div class="item">
              <img class="caro-img" src="/static/images/food.jpg" alt="Plate of spaghetti in foreground with caprese salad and beers in background.">
              <div class="carousel-caption">
                <h3>Delicious hearty meals</h3>
              </div>
            </div>
              <div class="item">
              <img class="caro-img" src="static/images/dining.jpg" alt="The barrel room">
              <div class="carousel-caption">
                <h3>Indoor and outdoor seating options</h3>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#home-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#home-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-4">
        <p>Test 1/3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur molestiae quia ad aspernatur in, blanditiis iusto nam recusandae, dolore dignissimos excepturi cumque nisi iste suscipit! A, explicabo. Quas, ratione accusantium.</p>
        </div>
        <div class="col-md-4">
          <p>Test 2/3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio deleniti dignissimos velit nam et, fuga at culpa? Non labore vel voluptatibus accusantium debitis quidem excepturi suscipit, nisi delectus, optio iusto.</p>
        </div>
        <div class="col-md-4">
          <p>Test 3/3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, amet sed rerum sapiente sequi esse nemo, corporis reprehenderit culpa debitis cum? Dolore nesciunt consequatur culpa distinctio dolores dolor error corrupti.</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <h2>Join our rewards club here!</h2>
    </div>
    <div class="col-md-2">
        <div class="scroll-box">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quos repellendus vel aliquid a? Earum, sunt veniam commodi quam facere cum eum, nulla voluptate ab voluptatem itaque minus, impedit consequatur!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quos repellendus vel aliquid a? Earum, sunt veniam commodi quam facere cum eum, nulla voluptate ab voluptatem itaque minus, impedit consequatur!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quos repellendus vel aliquid a? Earum, sunt veniam commodi quam facere cum eum, nulla voluptate ab voluptatem itaque minus, impedit consequatur!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quos repellendus vel aliquid a? Earum, sunt veniam commodi quam facere cum eum, nulla voluptate ab voluptatem itaque minus, impedit consequatur!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quos repellendus vel aliquid a? Earum, sunt veniam commodi quam facere cum eum, nulla voluptate ab voluptatem itaque minus, impedit consequatur!
        </div>
      </div>
  </div>
</div>