<h1>You've found home!</h1>
<div class="row">
    <div class="col-md-4">
        <p>Welcome to Patty's Pub and Brewery! Here you'll find the hoppiest IPAs, the maltiest stouts, and the refreshingest lagers in all the land.</p>
    </div>
    <div class="col-md-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos similique rem vitae tempora animi deleniti distinctio obcaecati earum voluptatibus possimus corporis aliquam nesciunt, fuga nam, sed ea culpa dolore?</div>
</div>
