<h1 class="text-center">Hi!</h1>
<h2>If you're here it's because you clicked one of our social media links.</h2>
<h2>Unfortunately, this isn't a real restaurant, so I've just shuffled you here for the time being. Feel free to explore the rest of the website.</h2>