<h1>Restaurant</h1>
<h4>We've got all kinds of food! It's not very good, but we're really more of a brewery so worst case scenario you just drink until it tastes tolerable.</h4>
<p>Anyway, here's the menu. Download available <a href="static/downloads/Paddys-menu.pdf" target="external" download="static/downloads/Paddys-menu.pdf">here!</a></p>
<div class="scroll-box">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quos repellendus vel aliquid a? Earum, sunt veniam commodi quam facere cum eum, nulla voluptate ab voluptatem itaque minus, impedit consequatur!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quos repellendus vel aliquid a? Earum, sunt veniam commodi quam facere cum eum, nulla voluptate ab voluptatem itaque minus, impedit consequatur!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quos repellendus vel aliquid a? Earum, sunt veniam commodi quam facere cum eum, nulla voluptate ab voluptatem itaque minus, impedit consequatur!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quos repellendus vel aliquid a? Earum, sunt veniam commodi quam facere cum eum, nulla voluptate ab voluptatem itaque minus, impedit consequatur!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quos repellendus vel aliquid a? Earum, sunt veniam commodi quam facere cum eum, nulla voluptate ab voluptatem itaque minus, impedit consequatur!
</div>