<h1 class="text-center">Menu</h1>
<h4>We've got all kinds of food! It's not very good, but we're really more of a brewery so worst case scenario you just drink until it tastes tolerable.</h4>
<p>Anyway, here's the menu. Download available <a class="btn btn-default" href="static/downloads/Paddys-menu.pdf" role="button" target="_blank">here</a>, because we purposefully made the online menu undersized so that we could use a scrollbox.</p>

<div class="scroll-box">
    <img src="static/images/Paddys-menu.jpg" alt="">
</div>

