<h1>Restaurant</h1>
<h4>We've got all kinds of food! It's not very good, but we're really more of a brewery so worst case scenario you just drink until it tastes tolerable.</h4>
<p>Anyway, here's the menu. Download available <a href="static/downloads/Paddys-menu.pdf" target="external" download="static/downloads/Paddys-menu.pdf">here</a>, because we purposefully made the online menu undersized and terrible so that we could use a scrollbox.</p>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="scroll-box">
            <img src="static/images/Paddys-menu.jpg" alt="">
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
