body { 
    padding-top: 70px; 
    background-color: tan;
}

div > h1 {
    /* border: solid red 1px; */
    font-family: 'Raleway', sans-serif;
}

.navbar-brand {
    font-family: "Indie Flower", cursive;
}

.navbar {
    background-image: url(/static/images/wood-nav.jpeg);
    background-color: blue;
}

.caro-img {
    display: block;
    max-width: 100%;
    height: auto;
}