body { 
    padding-top: 70px;
    background-color: tan;
    color: black;
}

div > h1 {
    /* border: solid red 1px; */
    font-family: 'Raleway', sans-serif;
}

.navbar {
    background-image: url(/static/images/wood-nav.jpeg);
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    margin: 5px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: beige;
    opacity: 0.5;
}

.navbar-default .navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: white;
    margin: 5px;
}

.navbar-default .navbar-brand:hover {
    color: beige;
    opacity: 0.5;
}

.navbar-default {
    border-width: 0;
}

.carousel-caption {
    font-family: 'Josefin Sans';
}

.caro-img {
    display: block;
    width: 100%;
    height: auto;
}

.product {
    /* border: 1px solid beige; */
    margin-bottom: 40px;
}

.product h2 {
    font-family: 'Raleway', sans-serif;    
}
.product div>p {
    font-family: sans-serif;
}

.beer-blurb {
    margin-top: 40px;
    margin-bottom: 40px;
}

.product .beer-specs {
    font-family: 'Lobster', sans-serif;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 10px;
}

.scroll-box {
    overflow: auto; 
    max-width:200px; 
    max-height:600px;
    /* padding-right: 20px; */
}

/* *{
    border: 1px solid red;
} */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .scroll-box {display: none;}
}