<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/54ae1996b3.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway|Bungee|Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Paddy's Pub and Brewery</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Paddy's Pub</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/restaurant">MENU</a></li>
                <li><a href="/products">BEERS</a></li>
                <li><a href="/guestbook">GUESTBOOK</a></li>
            </ul>
        </div>
    </div>
    </nav>
    <div class="container">
<h1 class="text-center">Welcome to Paddy's Pub and Brewery!</h1>
<div class="container">
      <div class="row text-center">
          <div>
            <p>Here you'll find the hoppiest IPAs, the maltiest stouts, and the tastiest lagers in all the land. We also make food.</p>
          </div>
          {{!-- <div class="col-md-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos similique rem vitae tempora animi deleniti distinctio obcaecati earum voluptatibus possimus corporis aliquam nesciunt, fuga nam, sed ea culpa dolore?</div> --}}
      </div>
      <div class="row carousel-row">
        <div class="col-md-10">
          <div id="home-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#home-carousel" data-slide-to="1"></li>
              <li data-target="#home-carousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
              <div class="item active">
                <img class="caro-img" src="/static/images/taps.jpeg" alt="Wall of beers">
                <div class="carousel-caption">
                  <h3>Over 6 beers on tap</h3>
                </div>
              </div>
              <div class="item">
                <img class="caro-img" src="/static/images/food.jpg" alt="Plate of spaghetti in foreground with caprese salad and beers in background.">
                <div class="carousel-caption">
                  <h3>Delicious hearty meals</h3>
                </div>
              </div>
                <div class="item">
                <img class="caro-img" src="static/images/dining.jpg" alt="The barrel room">
                <div class="carousel-caption">
                  <h3>Indoor and outdoor seating</h3>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#home-carousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#home-carousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-2 list well">
          <h2>Reasons to come to Paddy's:</h2>
          <ul>
            <li>The beer is generally above average.</li>
            <li>The food is acceptably tasty after about 3 beers.</li>
            <li>No one has died on the property (as of Oct. 2017).</li>
            <li>We make unnecessary lists.</li>
            <li>This list needs more items for aesthetic purposes.</li>
            <li>I think one more should do it here.</li>
          </ul>
        </div>
      </div>
      <div class="row text-center">
        <h1>
          <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> | 
          <a href="https://facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> |
          <a href="https://instagram.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </h1>
      </div>
      <div class="news">
      <div class="row text-center">
        <h2>News</h2>
      </div>
      <div class="row">
        <div class="col-md-4 well">
          <p>Thursday night is karaoke night! Bring your friends, family, and your pipes for a night of fun!</p>
        </div>
        <div class="col-md-4 well">
          <p>Friday night is BYOF night! (Bring your own food, because ours isn't very good.)</p>
        </div>
        <div class="col-md-4 well">
          <p>Kids eat at double price on weekends! Please stop bringing them!</p>
        </div>
      </div>
      </div>
    </div>
</div>
</div>
    <footer class="footer">
        <div class="container text-center">
            <h6>© 2017 Matthew McLean | Pictures are from pexels.com licensed under CC0</h6>
        </div>
    </footer>
    </body>
</html>